<div class="container">
  <div class="row">
    <div class="col-md-12"><h2>Edit CustomerInfo</h2></div>

    <div class="col-md-12">
    <form ngform="#createCustForm" (ngSubmit)="editCustomer()">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
        <div class="form-group">
          <label class="control-label" id="">firstname</label>
          <input class="form-control" id="firstname" [(ngModel)]="formData.firstname" [ngModelOptions]="{standalone: true}"/>
          <span class="text-danger"></span>
      </div>
      <div class="form-group">
          <label class="control-label">lastname</label>
          <input class="form-control"  id="lastname" [(ngModel)]="formData.lastname" [ngModelOptions]="{standalone: true}"/>
          <span class="text-danger"></span>
      </div>
      <div class="form-group">
          <label class="control-label">email</label>
          <input class="form-control" id="email" [(ngModel)]="formData.email" [ngModelOptions]="{standalone: true}"/>
          <span class="text-danger"></span>
      </div>
      <div class="form-group">
          <label class="control-label">phone_Number</label>
          <input class="form-control" id="phone_Number" [(ngModel)]="formData.phone_Number" [ngModelOptions]="{standalone: true}"/>
          <span class="text-danger"></span>
      </div>
      <div class="form-group">
          <label class="control-label">country_code</label>
          <input class="form-control" id="country_code" [(ngModel)]="formData.country_code" [ngModelOptions]="{standalone: true}"/>
          <span class="text-danger"></span>
      </div>
      <div class="form-group">
          <label class="control-label">gender</label>
          <input class="form-control" id="gender"  [(ngModel)]="formData.gender" [ngModelOptions]="{standalone: true}"/>
          <span class="text-danger"></span>
      </div>
      <div class="form-group">
          <label class="control-label">balance</label>
          <input class="form-control" id="balance" [(ngModel)]="formData.balance" [ngModelOptions]="{standalone: true}"/>
          <span class="text-danger"></span>
      </div>
      <div class="form-group">
        <input type="submit" value="Edit" class="btn btn-primary" />
        <!--<input type="submit" value="Create" class="btn btn-primary" (click)="updateDataEvent.emit(true);" />-->
      </div>
      </div>
      <div class="col-md-4"><span class="text-danger" >{{this.message}}</span></div>

    </div>

    </form>
    </div>
  </div>
  </div>
