<!--<div *ngIf="item">-->
  <div >
<form ngform="#custListForm">

  <div>
<table class="table">
      <tr>
          <th>
              Customerid
          </th>
          <th>
              firstname
          </th>
          <th>
              lastname
          </th>
          <th>
              email
          </th>
          <th>
              phone_Number
          </th>
          <th>
              country_code
          </th>
          <th>
              gender
          </th>
          <th>
              balance
          </th>
      </tr>
          <tr *ngFor='let data of sortById()'>
              <td>
                  {{data.id}}
              </td>
              <td>
                  {{data.firstname}}
              </td>
              <td>
                  {{data.lastname}}
              </td>
              <td>
                  {{data.email}}
              </td>
              <td>
                  {{data.phone_Number}}
              </td>
              <td>
                  {{data.country_code}}
              </td>
              <td>
                  {{data.gender}}
              </td>
              <td>
                  {{data.balance}}
              </td>
              <td>
                <!--<a routerLink="update"> <button class="btn-success" (onclick)="sendIdEdit(data.id)">Edit</button></a>-->
                <a routerLink="/update/{{data.id}}"><button class="btn-success">Edit</button></a>
                <a routerLink="/delete/{{data.id}}"><button class="btn-danger">Delete</button>
                </a></td>
          </tr>
</table>
</div>
</form>
</div>
<router-outlet></router-outlet>

